[project]
	description = Special repository used as reference (root) for inheritance of gerrithub.io permissions.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group github/rhos-infra/Everyone
[access "refs/for/refs/*"]
	read = group github/rhos-infra/Everyone
	push = group github/rhos-infra/Everyone
	label-Code-Review = -2..+2 group github/rhos-infra/Everyone
	label-Verified = -1..+1 group github/rhos-infra/Everyone
	rebase = group github/rhos-infra/Everyone
	removeReviewer = group github/rhos-infra/Everyone
	submit = group github/rhos-infra/Everyone
[access "refs/heads/*"]
	read = group github/rhos-infra/Everyone
	create = group github/rhos-infra/Everyone
	push = group github/rhos-infra/Everyone
	push = +force group github/rhos-infra/maintainers
	push = +force group user/Sorin Sbarnea (ssbarnea)
	pushMerge = group github/rhos-infra/Everyone
[access "refs/tags/*"]
	push = group github/rhos-infra/Everyone
	push = +force group github/rhos-infra/maintainers
